* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

body {
  color: white;
  background-color: #1b1b32;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 450px;
  text-align: center;
  font-size: 40px;
}

.container {
  color: 1b1b3;
  padding: 20px;
  border: 2px solid lightgreen;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightblue;
  text-align: center;
  width: 100%;
  background-color: rgb(59, 59, 79);
  margin-bottom: 10px;
}

label {
  font-size: 25px;
  font-weight: 570;
}

input {
  width: 100%;
  background-color: #1b1b32;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 25px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: palegreen;
  font-weight: 600;
  font-size: 15px;
  border-radius: 7px;
  cursor: pointer;
}

.output {
  color: white;
  padding: 15px;
  gap: 15px;
  border: 2px solid lightgreen;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightblue;
  text-align: center;
  width: 100%;
  background-color: rgb(59, 59, 79);
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
  display: none;
}

.warning {
  display: block;
  color: darkred;
  padding: 15px;
  gap: 15px;
  border: 2px solid darkred;
  border-radius: 5px;
  box-shadow: 3px 3px 5px orangered;
  text-align: center;
  width: 100%;
  background-color: indianred;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 500;
}